#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  display:flexbox;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blueviolet;
  font-size: 16px;
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  border-right: 1px solid #bbb;
}

#about{
  font-size: 22px;
  display:block;
  justify-content: left;

}

li {
  float: left;
 
}

li:last-child {
  border-right: none;
}

p {
  font-size: 12px;
  }

nav {
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
